@using Kinde.Api.Models.Tokens
@{
    ViewData["Title"] = "Home Page";
}
@model OauthToken
<div class="text-center">
    <div class="btn-group">
        @(Html.ActionLink("PKCE","SignInPKCE", "Home"))
        @(Html.ActionLink("Auth code","SignInCode", "Home"))
        @(Html.ActionLink("Client credentials","SignInClientCredentials", "Home"))
    </div>
    <dl style="max-width:800px">
        <dd>Remaining time</dd>
        <dt>@Html.DisplayFor(model=>model.Duration)</dt>
        <dd>@Html.LabelFor(model=>model.AccessToken)</dd>
        <dt style="word-break:break-all; word-wrap: break-word;">@Html.DisplayFor(model=>model.AccessToken)</dt>
        <dd>Identity</dd>
        <dt>@Context.Session.GetString("KindeProfile")</dt>
    </dl>
</div>
